<h1>Welcome to Timetracking tool</h1>
<h3>Projects</h3>
<ul>
	<% @projects.each do |project| %>
	<li><%= project.id %> - <%= link_to project.name, project_path(project.id) %>
		<%= project.description.present? ? "- #{project.description}" : " " %>
		<%=link_to("Entries", project_entries_path(project)) %>
		<%= link_to("Delete", project_path(project.id), method: :delete) %>
	</li>
	<% end %>
</ul>