<h1>Project: <%= @project.name %></h1>
<h2>Total hours worked: <%= @total_hours %> </h2>
<h2>Total hours worked this month: <%= @total_hours_this_month %> </h2>
<h3>Entries</h3>
<ul>
	<% @entries_this_month.each do |entry| %>
	<li><%= entry.id %> - <%= entry.hours %>:<%= entry.minutes %>
		<%= entry.comments.present? ? "- #{entry.comments}" : " " %>
	</li>
	<% end %>
</ul>